@model PVA.Web.Models.FARImageModel
<div class="col-md-12">
    <div class="row">
        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <div class="col-md-10">
                <img src="@Url.Content(Model.ImagePath)" height="400px" width="auto" />
            </div>
            <br />
            <br />
            <div class="col-md-2">
                <a href="@Url.Action("DownloadImage","Home", new { path = Model.ImagePath })" class="btn btn-primary">Download</a>
            </div>
        }
    </div>
</div>